<p id="notice"><%= notice %></p>

<p>
  <b>Org:</b>
  <%= @rank.org_id %>
</p>

<p>
  <b>Contact type cd:</b>
  <%= @rank.contact_type_cd %>
</p>

<p>
  <b>Rank:</b>
  <%= @rank.rank %>
</p>


<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
